* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, #f9dab8, #f3c28c);
}


.calculator {
  width: 260px;
  background: #ece8e4;
  border-radius: 26px;
  padding: 18px 16px 22px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  position: relative;
}

.strips {
  display: flex;
  gap: 4px;
  position: absolute;
  top: 0px;
  left: 22px;
}

.strips span {
  width: 6px;
  height: 54px;
  border-radius: 0px;
}

.red { background: #e15b5b; }
.yellow { background: #f2c94c; }
.blue { background: #2f80ed; }


.display {
  margin-top: 36px;
  background: #cfd4b6;
  border-radius: 6px;
  padding: 14px 12px;
  box-shadow: inset 0 0 0 4px #222;
}

.display .value {
  font-size: 34px;
  text-align: right;
  letter-spacing: 2px;
  color: #222;
}

.display .formula {
  font-size: 11px;
  text-align: right;
  margin-top: 4px;
  color: #6b6b6b;
}


.top-controls {
  display: flex;
  margin-top: 10px;
  margin-right: 6px;
  justify-content: flex-end;
  gap: 6px;
  margin-bottom: 30px;
  text-align: center
  
}

.top-controls button {
  width: 50px;
  height: 26px;
  background: #2f2f2f;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 4px 0 #111;
  border: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: rgb(220, 220, 219);
  padding: 6px;
  border-radius: 6px;
  
}

button {
  height: 46px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  background: #faf8f5;
  box-shadow: 0 5px #cfcac4;
  cursor: pointer;
  
}

.orange {
  background: #f2a65a;
  box-shadow: 0 5px #d4893f;
  color: #fff;
}

.dark-orange {
  background: #e07b39;
  box-shadow: 0 5px #bf652e;
  color: #fff;
}

.equal {
  background: #9c9aa5;
  box-shadow: 0 5px #7d7b86;
  color: #fff;
}

.zero {
  grid-column: span 2;
}


